{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "endOfLine": "lf",
  "arrowParens": "always",
  "bracketSpacing": true,
  "insertPragma": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "requirePragma": false,
  "semi": true,
  "trailingComma": "none"
}
